@media screen and (max-width: 768px) {
  #banner {
    height: 200px;
  }
  canvas {
    display: none;
  }
  .item-title {
    width: 130px;
  }
}
@media screen and (min-width: 769px) {
  #banner {
    filter: grayscale(90%);
    height: 230px;
  }
  .item-title {
    width: 250px;
  }
}
#banner {
  width: 100%;
  display: flex;
  display: -webkit-flex;
  align-items: center;
  justify-content: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: 0 0 30px 30px #fff inset;
}
.quotes {
  color: #fff;
  text-shadow: 2px 2px 5px #000;
  max-width: 60%;
  overflow: hidden;
  word-wrap: break-word;
  word-break: normal;
  text-align: center;
  z-index: 999;
}
.content-list {
  margin: 15px 15px;
  min-height: 400px;
  overflow: hidden;
}
.list-item a {
  display: inline-block;
  width: 100%;
  overflow: hidden;
  border: none;
}
.item-title {
  float: left;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.item-time {
  float: right;
}
.clearfix {
  clear: both;
}
